
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12">
    <h1>Welcome to Dashboard</h1>
    <p>Here you can manage your website</p>
    <p>Use the navigation to the left to get started</p>
    
</div>

