
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Donations</h3>
        </div>
        
        <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap datatable">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Donation Id</th>
                        <th>Project</th>
                        <th>User</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <td>11:37 PM 03/03/2024</td>
                        <td><span class="text-secondary">001401</span></td>
                        <td><a href="/projects" class="text-reset" tabindex="-1">Design Works</a></td>
                        <td>
                            1
                        </td>
                        <td>
                            $20
                        </td>
                        <td>
                            Wait
                        </td>
                        <td >
                            <button class="btn btn-primary">Confirm</button>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                    </tr> <tr >
                        <td>11:37 PM 03/03/2024</td>
                        <td><span class="text-secondary">001401</span></td>
                        <td><a href="/projects" class="text-reset" tabindex="-1">Design Works</a></td>
                        <td>
                            1
                        </td>
                        <td>
                            $20
                        </td>
                        <td>
                            Wait
                        </td>
                        <td >
                            <button class="btn btn-primary">Confirm</button>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                    </tr> <tr >
                        <td>11:37 PM 03/03/2024</td>
                        <td><span class="text-secondary">001401</span></td>
                        <td><a href="/projects" class="text-reset" tabindex="-1">Design Works</a></td>
                        <td>
                            1
                        </td>
                        <td>
                            $20
                        </td>
                        <td>
                            Wait
                        </td>
                        <td >
                            <button class="btn btn-primary">Confirm</button>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
       
    </div>
</div>

