@{
    ViewData["Title"] = "Home Page";
}

<!-- About Start -->
@* <div class="container-xxl py-5">
<div class="container">
<div class="row g-5">
<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
<div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
<img class="position-absolute w-100 h-100 pt-5 pe-5" src="img/about-1.jpg" alt="" style="object-fit: cover;">
<img class="position-absolute top-0 end-0 bg-white ps-2 pb-2" src="img/about-2.jpg" alt="" style="width: 200px; height:
200px;">
</div>
</div>
<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
<div class="h-100">
<div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">About Us</div>
<h1 class="display-6 mb-5">We Help People In Need Around The World</h1>
<div class="bg-light border-bottom border-5 border-primary rounded p-4 mb-4">
<p class="text-dark mb-2">Lá lành đùm lá rách, lá rách đùm lá tả tơi!</p>
<span class="text-primary">Dân gian</span>
</div>
<p class="mb-5">“Circle Of Charity is a global non-profit organization dedicated to creating a circle of love and
compassion. We believe in the power of unity and strive to bring together individuals from all walks of life to
contribute towards making a positive impact. Our mission is to provide support and resources to those in need, fostering
a community that thrives on empathy, generosity, and mutual respect. Join us in our journey as we make a difference, one
act of kindness at a time.” 😊</p>
<a class="btn btn-primary py-2 px-3 me-3" href="/donation">
Learn More
<div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
<i class="fa fa-arrow-right"></i>
</div>
</a>
<a class="btn btn-outline-primary py-2 px-3" href="">
Contact Us
<div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
<i class="fa fa-arrow-right"></i>
</div>
</a>
</div>
</div>
</div>
</div>
</div> *@
<!-- About End -->

<!-- Donate Start -->
@* <div class="container-fluid donate my-5 py-5" data-parallax="scroll" data-image-src="img/carousel-2.jpg">
<div class="container py-5">
<div class="row g-5 align-items-center">
<div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
<div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">Donate Now</div>
<h1 class="display-6 text-white mb-5">Thanks For The Results Achieved With You</h1>
<p class="text-white-50 mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos.
Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
</div>
<div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
<div class="h-100 bg-white p-5">
<form>
<div class="row g-3">
<div class="col-12">
<div class="form-floating">
<input type="text" class="form-control bg-light border-0" id="name" placeholder="Your Name">
<label for="name">Your message</label>
</div>
</div>
<div class="col-12">
<div class="btn-group d-flex justify-content-around">
<input type="radio" class="btn-check" name="btnradio" id="btnradio1" checked>
<label class="btn btn-light py-3" for="btnradio1">$10</label>

<input type="radio" class="btn-check" name="btnradio" id="btnradio2">
<label class="btn btn-light py-3" for="btnradio2">$20</label>

<input type="radio" class="btn-check" name="btnradio" id="btnradio3">
<label class="btn btn-light py-3" for="btnradio3">$30</label>
</div>
</div>
<div class="col-12">
<button class="btn btn-primary px-5" style="height: 60px;">
Donate Now
<div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
<i class="fa fa-arrow-right"></i>
</div>
</button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div> *@
<!-- Donate End -->


<div id="content" class="">
    <div class="container_main">
        <div class="about__form">
            <div class="about__form-title">About Us</div>
            <div class="d-flex justify-content-evenly align-items-center">
                <div class="form1 col-lg-4">
                    <div class="form1-name">
                        We Help People In Need Around The World
                    </div>
                    <div class="bg-light border-bottom border-5 border-primary rounded p-4 mb-4">
                        <p class="text-dark mb-2">"Together, we can make a difference in the lives of those in need, one
                            act of kindness at a time."</p>
                        <span class="text-primary">Le Thi Binh An, Founder</span>
                    </div>
                    <div class="form1-desc">

                    </div>
                    <a class="btn_fb" href="#contact"><span class="btn_fb-label">Contact Us!</span> </a>
                </div>
                <div class="col-lg-8 w-50">
                    <div class="form1-img">
                        <img src="~/img/carousel-2.jpg" alt="">
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div id="about">
        <div class="about__form col-lg-4">
            <div class="about__form-title">Team Members</div>
            <div class="form2">
                <ul class="form2-contact">
                    <li>
                        <div class="key">Le Thi Binh An</div>
                        <div class="value">MSV</div>
                    </li>
                    <li>
                        <div class="key">Le Thi Binh An</div>
                        <div class="value">MSV</div>
                    </li>
                    <li>
                        <div class="key">Le Thi Binh An</div>
                        <div class="value">MSV</div>
                    </li>
                    <li>
                        <div class="key">Le Thi Binh An</div>
                        <div class="value">MSV</div>
                    </li>

                </ul>
                <div class="form2-contactIcon ms-4">
                    <a ><i class="fa-brands fa-facebook"></i></a>
                    <a><i class="fa-brands fa-instagram"></i></a>
                    <a><i                            class="fa-brands fa-youtube"></i></a>

                </div>
            </div>
        </div>
        <div id="causes" class="about__form col-lg-8">
            <div class="about__form-title">What We Do</div>
            <div class="form3">
                <div class="row g-4 justify-content-center">
                    <div class="col-lg-4 col-md-6 wow fadeInUp">
                        <div class="service-item h-100 p-4 p-xl-5">
                            <img class="img-fluid mb-4" src="img/icon-1.png" alt="">
                            <h4 class="mb-3">Child Education</h4>
                            <p class="mb-4">Access to quality education is essential for children's development and future success. Efforts should be made to overcome barriers and ensure equal access to education for all children.</p>
                            <a class="btn btn-outline-primary px-3" href="">
                                Learn More
                                <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                    <i class="fa fa-arrow-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp">
                        <div class="service-item h-100 p-4 p-xl-5">
                            <img class="img-fluid mb-4" src="img/icon-2.png" alt="">
                            <h4 class="mb-3">Medical Treatment</h4>
                            <p class="mb-4">Access to proper medical treatment is crucial for maintaining public health and well-being. Adequate resources and healthcare infrastructure are needed to ensure that everyone has access to timely and effective medical care.</p>
                            <a class="btn btn-outline-primary px-3" href="">
                                Learn More
                                <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                    <i class="fa fa-arrow-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp">
                        <div class="service-item h-100 p-4 p-xl-5">
                            <img class="img-fluid mb-4" src="img/icon-3.png" alt="">
                            <h4 class="mb-3">Pure Drinking Water</h4>
                            <p class="mb-4">Access to clean and safe drinking water is a fundamental human right. Measures should be taken to ensure the availability of pure drinking water for all, including water treatment, infrastructure development, and awareness campaigns about water hygiene and conservation.</p>
                            <a class="btn btn-outline-primary px-3" href="">
                                Learn More
                                <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                    <i class="fa fa-arrow-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <div id="testimonials">
        <div class="testimonials__title">
            Testimonials
        </div>
        <div class="testimonials__content">

            <div class="testimonials__item">
                <img src="~/img/courses-1.jpg" alt="">

            </div>
            <div class="testimonials__item">
                <img src="~/img/courses-2.jpg" alt="">
            </div>
            <div class="testimonials__item">
                <img src="~/img/courses-3.jpg" alt="">
            </div>
        </div>
    </div>
    <div id="photos">
        <div class="portfolio__title">Photos</div>
        <div class="btn__container">
            <button class="btn__portfolio active">All</button>
            <button class="btn__portfolio">Education</button>
            <button class="btn__portfolio">Pure Water</button>
            <button class="btn__portfolio">Healthy Life</button>
        </div>
        <div class="portfolio__list">
            <div class="row__portfolio">
                <div class="portfolio__item">
                    <img class="myImg" src="~/img/carousel-1.jpg" alt="">

                </div>
                <div class="portfolio__item">
                    <img class="myImg" src="~/img/carousel-1.jpg" alt="">
                </div>
                <div class="portfolio__item">
                    <img class="myImg" src="~/img/carousel-1.jpg" alt="">
                </div>


            </div>
            <div class="row__portfolio">
                <div class="portfolio__item">
                    <img class="myImg" src="~/img/carousel-1.jpg" alt="">
                </div>
                <div class="portfolio__item">
                    <img class="myImg" src="~/img/carousel-1.jpg" alt="">
                </div>
                <div class="portfolio__item">
                    <img class="myImg" src="~/img/carousel-1.jpg" alt="">
                </div>




            </div>
            <div class="row__portfolio">
                <div class="portfolio__item">
                    <img class="myImg" src="~/img/carousel-1.jpg" alt="">

                </div>
                <div class="portfolio__item">
                    <img class="myImg" src="~/img/carousel-1.jpg" alt="">
                </div>
                <div class="portfolio__item">
                    <img class="myImg" src="~/img/carousel-1.jpg" alt="">
                </div>



            </div>
            <div class="row__portfolio">
                <div class="portfolio__item">
                    <img class="myImg" src="~/img/carousel-1.jpg" alt="">
                </div>
                <div class="portfolio__item">
                    <img class="myImg" src="~/img/carousel-1.jpg" alt="">

                </div>

                <div class="portfolio__item">
                    <img class="myImg" src="~/img/carousel-1.jpg" alt="">
                </div>

            </div>

        </div>
    </div>
    <div id="donations">
        <div class="blog__title">Donations</div>
        <div class="blog__content">
            <div class="blog__item autoshow">
                <div class="blog__item-banner">
                    <img src="~/img/courses-1.jpg" alt="">
                    <figcaption>
                        <div>
                            <h2>Education For African Children</h2>
                        </div>
                        <div>
                            <p>Click to <span>donate </span> </p>
                        </div>
                        <a href="~/donation"></a>
                    </figcaption>
                </div>

                <a href="~/donation">
                    <div class="blog__item-title">Education For African Children</div>
                </a>
                <div class="blog__item-author">
                    <i class="fa-solid fa-user"></i> Le Thi Binh An - 21/06/2022
                </div>
                <div class="blog__item-desc">
                    Education for African children has long been an important and necessary issue. With over one billion
                    people and hundreds of diverse ethnic groups, Africa holds incredible potential and talent. However,
                    imparting knowledge and providing quality education for African children still faces numerous
                    challenges.
                </div>


            </div>
            <div class="blog__item autoshow">
                <div class="blog__item-banner">
                    <img src="~/img/courses-2.jpg" alt="">
                    <figcaption>
                        <div>
                            <h2>Ensure Pure Drinking Water</h2>
                        </div>
                        <div>
                            <p>Click to <span>donate </span> </p>
                        </div>
                        <a href="~/donation"></a>
                    </figcaption>
                </div>
                <div class="blog__item-title">Ensure Pure Drinking Water</div>
                <div class="blog__item-author">
                    <i class="fa-solid fa-user"></i> Le Thi Binh An - 21/06/2022
                </div>
                <div class="blog__item-desc">
                    Ensuring access to pure drinking water is a crucial aspect of public health and well-being.
                </div>

            </div>
            <div class="blog__item autoshow">
                <div class="blog__item-banner">
                    <img src="~/img/courses-3.jpg" alt="">
                    <figcaption>
                        <div>
                            <h2>Ensure Medical Treatment</h2>
                        </div>
                        <div>
                            <p>Click to <span>donate </span> </p>
                        </div>
                        <a href="~/donation"></a>
                    </figcaption>
                </div>
                <div class="blog__item-title">Ensure Medical Treatment</div>
                <div class="blog__item-author">
                    <i class="fa-solid fa-user"></i> Le Thi Binh An - 21/06/2022
                </div>
                <div class="blog__item-desc">
                    Ensuring access to pure drinking water is essential for maintaining public health and preventing
                    waterborne diseases.
                </div>

            </div>


        </div>
        <div id="contact">
            <div class="contact__form  col-lg-12">
                <div class="center-title">
                    <div class="contact__form-title">Contact me <i class="fa-solid fa-paper-plane"></i></div>
                </div>

                <div class="contact__form-content">
                    <input type="text" placeholder="Name *" required>
                    <input type="email" placeholder="Email *" required>
                    <textarea placeholder="Message *" name="" id="" cols="45" rows="10" required></textarea>
                </div>
                <div class="contact-btn">

                    <button type="submit" class="btn-submit">Send message &#8594;</button>

                </div>
            </div>
        </div>
    </div>
