@model DonationsWeb.Models.User
@{
    ViewData["Title"] = "Register Page";
}

<section class="bg-dark">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-7">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form asp-action="Register" method="post">
                                    <h1 class="fw-bold text-primary mb-4"><span class="text-dark">Circle Of </span>
                                        Charity</h1>
                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register an new account
                                    </h5>
                                    <div class="form-floating mb-4">
                                        <input type="text" id="formName" asp-for="Name"
                                            class="form-control form-control-lg" />
                                        <label class="form-label" for="formName">Full name</label>
                                    </div>
                                    <div class="form-floating mb-4">
                                        <input type="text" id="formAddress" asp-for="Address"
                                            class="form-control form-control-lg" />
                                        <label class="form-label" for="formAddress">Address</label>
                                    </div>
                                    <div class="form-floating mb-4">
                                        <input type="number" id="formPhoneNumber" asp-for="PhoneNumber" pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$"
                                            title="Wrong phone number format" required
                                            class="form-control form-control-lg" />
                                        <label class="form-label" for="formPhoneNumber">Phone number</label>
                                    </div>
                                    <div class="form-floating mb-4">
                                        <input type="email" id="formEmail" asp-for="Email" required
                                            class="form-control form-control-lg" />
                                        <label class="form-label" for="formEmail">Email address</label>
                                    </div>
                                    <div class="form-floating">
                                        <input type="password" id="formPassword" asp-for="Password"
                                            class="form-control form-control-lg" pattern="^\w{6,}$"   title="Password must be at least 6 character" required
/>
                                        <label class="form-label" for="formPassword">Password</label>
                                    </div>
                                    <label class="alert text-danger m-0 p-0">
                                        @Html.ValidationSummary()
                                    </label>
                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-primary btn-lg btn-block w-100" type="submit">Sign
                                            Up</button>
                                    </div>

                                    <p class="mb-5 pb-lg-2">
                                        If you have an account! <a href="/users/login" class="text-primary">Login
                                            here</a>
                                    </p>
                                    <a href="#!" class="small text-muted">Terms of use.</a>
                                    <a href="#!" class="small text-muted">Privacy policy</a>
                                </form>

                            </div>
                        </div>

                        <div class="col-md-6 col-lg-5 d-flex justify-content-center align-items-center">
                            <img src="/img/login-img.jpg" alt="login form" class="img-fluid w-100 h-100"
                                style="border-radius: 1rem 0 0 1rem; object-fit:cover;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>